# FP Algorithm

In [1]:
!pip install mlxtend

Defaulting to user installation because normal site-packages is not writeable
Collecting mlxtend
  Downloading mlxtend-0.23.1-py3-none-any.whl (1.4 MB)
                                              0.0/1.4 MB ? eta -:--:--
                                              0.0/1.4 MB ? eta -:--:--
                                              0.0/1.4 MB ? eta -:--:--
                                              0.0/1.4 MB ? eta -:--:--
     --                                       0.1/1.4 MB 479.1 kB/s eta 0:00:03
     ---                                      0.1/1.4 MB 655.8 kB/s eta 0:00:02
     --------                                 0.3/1.4 MB 1.2 MB/s eta 0:00:01
     ----------                               0.4/1.4 MB 1.4 MB/s eta 0:00:01
     ------------------                       0.7/1.4 MB 2.0 MB/s eta 0:00:01
     --------------------------               1.0/1.4 MB 2.5 MB/s eta 0:00:01
     ------------------------------           1.1/1.4 MB 2.6 MB/s eta 0:00:01
     ---------------------------------------  1.4/1.4 MB 3.1 MB/s eta 0:00:01
     ---------------------------------------- 1.4/1.4 MB 2.9 MB/s eta 0:00:00
Requirement already satisfied: scipy>=1.2.1 in c:\programdata\anaconda3\lib\site-packages (from mlxtend) (1.10.1)
Requirement already satisfied: numpy>=1.16.2 in c:\programdata\anaconda3\lib\site-packages (from mlxtend) (1.24.3)
Requirement already satisfied: pandas>=0.24.2 in c:\programdata\anaconda3\lib\site-packages (from mlxtend) (1.5.3)
Requirement already satisfied: scikit-learn>=1.0.2 in c:\programdata\anaconda3\lib\site-packages (from mlxtend) (1.2.2)
Requirement already satisfied: matplotlib>=3.0.0 in c:\programdata\anaconda3\lib\site-packages (from mlxtend) (3.7.1)
Requirement already satisfied: joblib>=0.13.2 in c:\users\hassa\appdata\roaming\python\python311\site-packages (from mlxtend) (1.1.1)
Requirement already satisfied: contourpy>=1.0.1 in c:\programdata\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (1.0.5)
Requirement already satisfied: cycler>=0.10 in c:\programdata\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (0.11.0)
Requirement already satisfied: fonttools>=4.22.0 in c:\programdata\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (4.25.0)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\programdata\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (1.4.4)
Requirement already satisfied: packaging>=20.0 in c:\programdata\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (23.0)
Requirement already satisfied: pillow>=6.2.0 in c:\programdata\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (9.4.0)
Requirement already satisfied: pyparsing>=2.3.1 in c:\programdata\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (3.0.9)
Requirement already satisfied: python-dateutil>=2.7 in c:\programdata\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\programdata\anaconda3\lib\site-packages (from pandas>=0.24.2->mlxtend) (2022.7)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\programdata\anaconda3\lib\site-packages (from scikit-learn>=1.0.2->mlxtend) (2.2.0)
Requirement already satisfied: six>=1.5 in c:\programdata\anaconda3\lib\site-packages (from python-dateutil>=2.7->matplotlib>=3.0.0->mlxtend) (1.16.0)
Installing collected packages: mlxtend
Successfully installed mlxtend-0.23.1

In [7]:
from mlxtend.preprocessing import TransactionEncoder

In [8]:
from mlxtend.frequent_patterns import fpgrowth

In [10]:
import pandas as pd

In [40]:
dataset = [['milk', 'onion','nutmeg','kidney beans', 'eggs','yogurt'], ['milk','onion','nutmeg','kidney beans','eggs', 'yogurt'], ['milk','apple','kidney beans','eggs'],['milk','corn','kidney beans','yogurt'],['corn','onion','kidney beans','ice cream','yogurt']]

In [41]:
Te = TransactionEncoder()

In [42]:
Te_array = Te.fit(dataset).transform(dataset)

In [43]:
Te_array

array([[False, False,  True, False,  True,  True,  True,  True,  True],
       [False, False,  True, False,  True,  True,  True,  True,  True],
       [ True, False,  True, False,  True,  True, False, False, False],
       [False,  True, False, False,  True,  True, False, False,  True],
       [False,  True, False,  True,  True, False, False,  True,  True]])

In [44]:
df = pd.DataFrame(Te_array, columns = Te.columns_)

In [45]:
df

   apple   corn   eggs  ice cream  kidney beans   milk  nutmeg  onion  yogurt
0  False  False   True      False          True   True    True   True    True
1  False  False   True      False          True   True    True   True    True
2   True  False   True      False          True   True   False  False   False
3  False   True  False      False          True   True   False  False    True
4  False   True  False       True          True  False   False   True    True

In [46]:
fpgrowth(df, min_support = 0.6, use_colnames = True)

    support                       itemsets
0       1.0                 (kidney beans)
1       0.8                       (yogurt)
2       0.8                         (milk)
3       0.6                        (onion)
4       0.6                         (eggs)
5       0.8         (kidney beans, yogurt)
6       0.8           (kidney beans, milk)
7       0.6                 (yogurt, milk)
8       0.6   (kidney beans, yogurt, milk)
9       0.6                (onion, yogurt)
10      0.6          (onion, kidney beans)
11      0.6  (kidney beans, onion, yogurt)
12      0.6                   (eggs, milk)
13      0.6           (kidney beans, eggs)
14      0.6     (kidney beans, eggs, milk)

# Bloom Filter

### Creating a bloom filter file

In [1]:
import math

In [8]:
import sys
print(sys.path)

['C:\\Users\\hassa\\Documents\\MMD', 'C:\\ProgramData\\anaconda3\\python311.zip', 'C:\\ProgramData\\anaconda3\\DLLs', 'C:\\ProgramData\\anaconda3\\Lib', 'C:\\ProgramData\\anaconda3', '', 'C:\\Users\\hassa\\AppData\\Roaming\\Python\\Python311\\site-packages', 'C:\\ProgramData\\anaconda3\\Lib\\site-packages', 'C:\\ProgramData\\anaconda3\\Lib\\site-packages\\win32', 'C:\\ProgramData\\anaconda3\\Lib\\site-packages\\win32\\lib', 'C:\\ProgramData\\anaconda3\\Lib\\site-packages\\Pythonwin']

In [6]:
!pip install mmh3 --user

Requirement already satisfied: mmh3 in c:\users\hassa\appdata\roaming\python\python310\site-packages (4.1.0)