# FP Algorithm

In [1]:
from mlxtend.preprocessing import TransactionEncoder

In [2]:
from mlxtend.frequent_patterns import fpgrowth

In [3]:
import pandas as pd

In [4]:
dataset = [['milk', 'onion','nutmeg','kidney beans', 'eggs','yogurt'], ['milk','onion','nutmeg','kidney beans','eggs', 'yogurt'], ['milk','apple','kidney beans','eggs'],['milk','corn','kidney beans','yogurt'],['corn','onion','kidney beans','ice cream','yogurt']]

In [5]:
Te = TransactionEncoder()

In [6]:
Te_array = Te.fit(dataset).transform(dataset)

In [7]:
Te_array

array([[False, False,  True, False,  True,  True,  True,  True,  True],
       [False, False,  True, False,  True,  True,  True,  True,  True],
       [ True, False,  True, False,  True,  True, False, False, False],
       [False,  True, False, False,  True,  True, False, False,  True],
       [False,  True, False,  True,  True, False, False,  True,  True]])

In [8]:
df = pd.DataFrame(Te_array, columns = Te.columns_)

In [9]:
df

   apple   corn   eggs  ice cream  kidney beans   milk  nutmeg  onion  yogurt
0  False  False   True      False          True   True    True   True    True
1  False  False   True      False          True   True    True   True    True
2   True  False   True      False          True   True   False  False   False
3  False   True  False      False          True   True   False  False    True
4  False   True  False       True          True  False   False   True    True

In [10]:
fpgrowth(df, min_support = 0.6, use_colnames = True)

    support                       itemsets
0       1.0                 (kidney beans)
1       0.8                       (yogurt)
2       0.8                         (milk)
3       0.6                        (onion)
4       0.6                         (eggs)
5       0.8         (yogurt, kidney beans)
6       0.8           (milk, kidney beans)
7       0.6                 (yogurt, milk)
8       0.6   (yogurt, milk, kidney beans)
9       0.6                (yogurt, onion)
10      0.6          (kidney beans, onion)
11      0.6  (yogurt, kidney beans, onion)
12      0.6                   (eggs, milk)
13      0.6           (eggs, kidney beans)
14      0.6     (eggs, milk, kidney beans)